* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.btn-play {
  position: fixed;
  top: 80px;
  right: 50%;
  transform: translateX(160px);
  width: 320px;
  background-color: #f5f5f5;
  color: #212121;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  text-align: center;
  font-family: "Cabin", sans-serif;
  font-size: 32px;
  z-index: 100;
}

#reference-text {
  color: white;
  position: fixed;
  top: 240px;
  right: 50%;
  transform: translateX(216px);
  width: 400px;
  padding: 16px 16px;
  border-radius: 6px;
  z-index: 100;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: #b3e5fc;
}

a:visited {
  color: #b3e5fc;
}
