html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: LightSkyBlue;
}

button {
  height: 32px;
  min-width: 100px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: white;
  border: 1px solid transparent;
  border-bottom: 4px solid navy;
  border-radius: 4px;
  padding: 8px 24px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: auto;
  height: 48px;
  font-family: "Cabin", sans-serif;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #606060;
}

.bg {
  background: LightSkyBlue;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.reference-text {
  color: white;
  margin-top: 20px;
  padding: 16px 16px;
  border-radius: 6px;
  text-align: center;
  z-index: 100;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  line-height: 1.8;
  background-color: rgba(0, 0, 0, 0.2);
}
