* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#reference-text {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white; /* Change as per your need */
  background-color: rgba(0, 0, 0, 0.5); /* Change as per your need */
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  z-index: 100; /* Change as per your need */
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.8;
}
